<h1><a id="top"></a>Progress Indicators</h1>

<a id="indeterminate-progress-bar"></a>
<h5 class="_mtxl">Indeterminate Progress Indicator</h5>
<div class="indeterminate-indicator">
  <div class="indeterminate-indicator-circle"></div>
  <div class="indeterminate-indicator-circle"></div>
  <div class="indeterminate-indicator-circle"></div>
  <div class="indeterminate-indicator-circle"></div>
  <div class="indeterminate-indicator-circle"></div>
</div>

<pre class="code-block">
  <code class="language-markup">
  {{'&lt;'}}div class="indeterminate-indicator">
    {{'&lt;'}}div class="indeterminate-indicator-circle">{{'&lt;'}}/div>
    {{'&lt;'}}div class="indeterminate-indicator-circle">{{'&lt;'}}/div>
    {{'&lt;'}}div class="indeterminate-indicator-circle">{{'&lt;'}}/div>
    {{'&lt;'}}div class="indeterminate-indicator-circle">{{'&lt;'}}/div>
    {{'&lt;'}}div class="indeterminate-indicator-circle">{{'&lt;'}}/div>
  {{'&lt;'}}/div>
  </code>
</pre>
