<h1><a id="top"></a>Multi Select Search</h1>


<a id="multi-select-search-install"></a>
<h5 class="_mtxl">Installation</h5>
<pre class="code-block">
  <code class="language-javascript">
  // install the repo
  npm install CINBCUniversal/suprematism-multi-select-search --save

  // add it to a module (app.module.ts)
  import {{'&#123;'}} MultiSelectSearchModule } from 'suprematism-multi-select-search';

  @NgModule({{'&#123;'}}
    ...
    imports: [
      ...
      MultiSelectSearchModule
    ],
    ...
  })
  </code>
</pre>

<a id="multi-select-search-simple"></a>
<h5 class="_mtxl">This is a multi select search.</h5>
<div class="example">
  <supre-multi-select-search [options]="example.options"
                             [searchDebounce]="example.searchDebounce"
                             [searchPlaceholder]="example.searchPlaceholder"
                             [inactiveButtonText]="example.inactiveButtonText"
                             [inactiveButtonTextFunc]="example.inactiveButtonTextFunc"
                             [selectedOptionsNoSelectionText]="example.selectedOptionsNoSelectionText"
                             [selectedOptionsNoSelectionTextFunc]="example.selectedOptionsNoSelectionTextFunc"
                             [showSelectedParent]="example.showSelectedParent"
                             [selectChildrenWithParent]="example.selectChildrenWithParent"
                             [selectChildrenToDepth]="example.selectChildrenToDepth"
                             [unselectChildrenWithParent]="example.unselectChildrenWithParent"
                             [unselectParentWithChild]="example.unselectParentWithChild">
  </supre-multi-select-search>
</div>
<pre class="code-block">
  <code class="language-javascript">
    {{'&lt;'}}supre-multi-select-search [options]="example1.options"
                                        [searchDebounce]="example1.searchDebounce"
                                        [searchPlaceholder]="example1.searchPlaceholder"
                                        [inactiveButtonText]="example1.inactiveButtonText"
                                        [inactiveButtonTextFunc]="example1.inactiveButtonTextFunc"
                                        [selectedOptionsNoSelectionText]="example1.selectedOptionsNoSelectionText"
                                        [selectedOptionsNoSelectionTextFunc]="example1.selectedOptionsNoSelectionTextFunc"
                                        [showSelectedParent]="example1.showSelectedParent"
                                        [selectChildrenWithParent]="example1.selectChildrenWithParent"
                                        [selectChildrenToDepth]="example1.selectChildrenToDepth"
                                        [unselectChildrenWithParent]="example1.unselectChildrenWithParent"
                                        [unselectParentWithChild]="example1.unselectParentWithChild">
    {{'&lt;'}}/supre-multi-select-search>
  </code>
</pre>
