<h1><a id="top"></a>Badge</h1>


<a id="badge-install"></a>
<h5 class="_mtxl">Installation</h5>
<pre class="code-block">
  <code class="language-javascript">
  // install the repo
  npm install CINBCUniversal/suprematism-badge --save

  // add it to a module (app.module.ts)
  import {{'&#123;'}} BadgeModule } from 'suprematism-badge';

  @NgModule({{'&#123;'}}
    ...
    imports: [
      ...
      BadgeModule
    ],
    ...
  })
  </code>
</pre>


<h5 class="_mtxl">Simple Example</h5>

<supre-badge
  positionY="top"
  positionX="right"
  text="6">
  <button class="-toolbar"><div class="u-supre-icon u-supre-icon--entertainment"></div></button>
</supre-badge>

<pre class="code-block">
  <code class="language-javascript">
    {{'&lt;'}}supre-badge
      positionY="top"
      positionX="right"
      text="6"
    >
        {{'&lt;'}}button class="-toolbar">
          {{'&lt;'}}div class="u-supre-icon u-supre-icon--entertainment">{{'&lt;'}}/div>
        {{'&lt;'}}button>
    {{'&lt;'}}/supre-badge>
  </code>
</pre>
