// Load the real style guide styles for use on our docs (dog fooding it)
@import "../../dist/suprematism.scss";

html, body {
  height: 100%;
}


//
// Prisim Code Display 
//
@import "../node_modules/prismjs/themes/prism.css";
pre.code-block {
  margin: 12px 0;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}



