<h1><a id="top"></a>Buttons</h1>

<a id="buttons-actions"></a>
<h5 class="_mtxl">Action Buttons</h5>
<button class="-action"><span class="u-supre-icon u-supre-icon--refresh-clear"></span>Press Me</button>
<button class="-action">Press Me</button>
<button class="-action" disabled="disabled">Can't Press Me</button>
<button class="-action" disabled="disabled"><span class="u-supre-icon u-supre-icon--refresh-clear"></span>Can't Press Me</button>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}!-- Action with icon -->
    {{'&lt;'}}button class="-action">{{'&lt;'}}span class="u-supre-icon u-supre-icon--refresh-clear">{{'&lt;'}}/span>Press Me{{'&lt;'}}/button>

    {{'&lt;'}}!-- Action without icon -->
    {{'&lt;'}}button class="-action">Press Me{{'&lt;'}}/button>

    {{'&lt;'}}!-- Disabled -->
    {{'&lt;'}}button class="-action" disabled="disabled">Can't Press Me{{'&lt;'}}/button>

    {{'&lt;'}}!-- Disabled with an icon -->
    {{'&lt;'}}button class="-action" disabled="disabled">{{'&lt;'}}span class="u-supre-icon u-supre-icon--refresh-clear">{{'&lt;'}}/span>Can't Press Me{{'&lt;'}}/button>
  </code>
</pre>


<a id="buttons-dialog-confirm"></a>
<h5 class="_mtxl">Dialog/Confirm Buttons</h5>
<button class="-dialog">Keep</button>
<button class="-dialog-reverse">clear</button>
<button class="-dialog"><span class="u-supre-icon u-supre-icon--refresh-clear"></span>Keep</button>
<button class="-dialog-reverse"><span class="u-supre-icon u-supre-icon--refresh-clear"></span>clear</button>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}!-- Dark and light versions -->
    {{'&lt;'}}button class="-dialog">Keep{{'&lt;'}}/button>
    {{'&lt;'}}button class="-dialog-reverse">clear{{'&lt;'}}/button>

    {{'&lt;'}}!-- Dark and light versions, with icons -->
    {{'&lt;'}}button class="-dialog">{{'&lt;'}}span class="u-supre-icon u-supre-icon--refresh-clear">{{'&lt;'}}/span>Keep{{'&lt;'}}/button>
    {{'&lt;'}}button class="-dialog-reverse">{{'&lt;'}}span class="u-supre-icon u-supre-icon--refresh-clear">{{'&lt;'}}/span>clear{{'&lt;'}}/button>
  </code>
</pre>


<a id="buttons-toolbar"></a>
<h5 class="_mtxl">Toolbar Buttons</h5>
<div class="flex">
  <button class="-toolbar">Tool A</button>
  <button class="-toolbar">Tool B</button>
  <button class="-toolbar" disabled="disabled">Tool C</button>
  <button class="-toolbar"><span class="u-supre-icon u-supre-icon--refresh-clear"></span>Tool D</button>
</div>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}!-- Toolbar buttons enabled -->
    {{'&lt;'}}button class="-toolbar">Tool A{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toolbar">Tool B{{'&lt;'}}/button>

    {{'&lt;'}}!-- Toolbar button disabled -->
    {{'&lt;'}}button class="-toolbar" disabled="disabled">Tool C{{'&lt;'}}/button>

    {{'&lt;'}}!-- Toolbar button with icon -->
    {{'&lt;'}}button class="-toolbar">{{'&lt;'}}span class="u-supre-icon u-supre-icon--refresh-clear">{{'&lt;'}}/span>Tool D{{'&lt;'}}/button>
  </code>
</pre>


<a id="buttons-conditions"></a>
<h5 class="_mtxl">Condition Buttons</h5>
<div class="flex">
  <button class="-condition"><span class="u-supre-icon u-supre-icon--refresh-clear"></span>Condition A</button>
  <button class="-condition">Condition B</button>
  <button class="-condition" disabled="disabled">Condition C</button>
  <button class="-condition">Condition D</button>
</div>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}button class="-condition">Condition A{{'&lt;'}}/button>
    {{'&lt;'}}button class="-condition">Condition B{{'&lt;'}}/button>
    {{'&lt;'}}button class="-condition" disabled="disabled">Condition C{{'&lt;'}}/button>
    {{'&lt;'}}button class="-condition">Condition D{{'&lt;'}}/button>
  </code>
</pre>


<a id="buttons-toggle"></a>
<h5 class="_mtxl">Toggle Buttons</h5>
<div class="flex">
  <button class="-toggle">AND</button>
  <button class="-toggle">OR</button>
  <div class="_mls">&nbsp;</div>
  <button class="-toggle" selected="false">AND</button>
  <button class="-toggle" selected="true">OR</button>
  <div class="_mls">&nbsp;</div>
  <button class="-toggle" disabled="true">AND</button>
  <button class="-toggle" disabled="true">OR</button>
</div>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}!-- Unselected, active toggles -->
    {{'&lt;'}}button class="-toggle">AND{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toggle">OR{{'&lt;'}}/button>
    
    {{'&lt;'}}!-- One selected, active toggles -->
    {{'&lt;'}}button class="-toggle" selected="false">AND{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toggle" selected="true">OR{{'&lt;'}}/button>

    {{'&lt;'}}!-- Unselected, disabled toggles -->
    {{'&lt;'}}button class="-toggle" disabled="true">AND{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toggle" disabled="true">OR{{'&lt;'}}/button>
  </code>
</pre>


<a id="buttons-toggle-actions"></a>
<h5 class="_mtxl">Toggle Action Buttons</h5>
<div class="flex">
  <button class="-toggle-action"><span class="u-supre-icon u-supre-icon--refresh-clear"></span></button>
  <button class="-toggle-action"><span class="u-supre-icon u-supre-icon--filter"></span></button>
  <button class="-toggle-action"><span class="u-supre-icon u-supre-icon--arrow-right-stroke"></span></button>
  <div class="_mls">&nbsp;</div>
  <button class="-toggle-action"><span class="u-supre-icon u-supre-icon--refresh-clear"></span></button>
  <button class="-toggle-action" selected="true"><span class="u-supre-icon u-supre-icon--filter"></span></button>
  <button class="-toggle-action"><span class="u-supre-icon u-supre-icon--arrow-right-stroke"></span></button>
  <div class="_mls">&nbsp;</div>
  <button class="-toggle-action" disabled="true"><span class="u-supre-icon u-supre-icon--refresh-clear"></span></button>
  <button class="-toggle-action" disabled="disabled"><span class="u-supre-icon u-supre-icon--filter"></span></button>
  <button class="-toggle-action" disabled="true"><span class="u-supre-icon u-supre-icon--arrow-right-stroke"></span></button>
  <div class="_mls">&nbsp;</div>
  <button class="-toggle-action"><span class="u-supre-icon u-supre-icon--refresh-clear"></span></button>
  <button class="-toggle-action"><span class="u-supre-icon u-supre-icon--filter"></span></button>
  <button class="-toggle-action background open-bottom"><span class="u-supre-icon u-supre-icon--arrow-down-filled"></span></button>
</div>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}!-- Three active, unselected action toggles -->
    {{'&lt;'}}button class="-toggle-action">{{'&lt;'}}span class="u-supre-icon u-supre-icon--refresh-clear">{{'&lt;'}}/span>{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toggle-action">{{'&lt;'}}span class="u-supre-icon u-supre-icon--filter">{{'&lt;'}}/span>{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toggle-action">{{'&lt;'}}span class="u-supre-icon u-supre-icon--arrow-right-stroke">{{'&lt;'}}/span>{{'&lt;'}}/button>

    {{'&lt;'}}!-- Three active, one selected -->
    {{'&lt;'}}button class="-toggle-action">{{'&lt;'}}span class="u-supre-icon u-supre-icon--refresh-clear">{{'&lt;'}}/span>{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toggle-action" selected="true">{{'&lt;'}}span class="u-supre-icon u-supre-icon--filter">{{'&lt;'}}/span>{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toggle-action">{{'&lt;'}}span class="u-supre-icon u-supre-icon--arrow-right-stroke">{{'&lt;'}}/span>{{'&lt;'}}/button>

    {{'&lt;'}}!-- All disabled -->
    {{'&lt;'}}button class="-toggle-action" disabled="true">{{'&lt;'}}span class="u-supre-icon u-supre-icon--refresh-clear">{{'&lt;'}}/span>{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toggle-action" disabled="disabled">{{'&lt;'}}span class="u-supre-icon u-supre-icon--filter">{{'&lt;'}}/span>{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toggle-action" disabled="true">{{'&lt;'}}span class="u-supre-icon u-supre-icon--arrow-right-stroke">{{'&lt;'}}/span>{{'&lt;'}}/button>

    {{'&lt;'}}!-- First and Second active, unselected — Third styled to connect to an open area below -->
    {{'&lt;'}}button class="-toggle-action">{{'&lt;'}}span class="u-supre-icon u-supre-icon--refresh-clear">{{'&lt;'}}/span>{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toggle-action">{{'&lt;'}}span class="u-supre-icon u-supre-icon--filter">{{'&lt;'}}/span>{{'&lt;'}}/button>
    {{'&lt;'}}button class="-toggle-action background open-bottom">{{'&lt;'}}span class="u-supre-icon u-supre-icon--arrow-down-filled">{{'&lt;'}}/span>{{'&lt;'}}/button>
  </code>
</pre>


<a id="buttons-cancel"></a>
<h5 class="_mtxl">Cancel Button</h5>
<div>
  <button class="-cancel-lg">Cancel</button>
  <button class="-action">Press Me</button>
  <button class="-action">Press Me Too</button>
</div>
<div class="_pts">
  <button class="-cancel-md">Cancel</button>
  <button class="-dialog">Press Me</button>
  <button class="-dialog-reverse">Press Me Too</button>
</div>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}!-- Coupled with larger Action buttons -->
    {{'&lt;'}}button class="-cancel-lg">Cancel{{'&lt;'}}/button>
    {{'&lt;'}}button class="-action">Press Me{{'&lt;'}}/button>
    {{'&lt;'}}button class="-action">Press Me Too{{'&lt;'}}/button>

    {{'&lt;'}}!-- Coupled with medium Confirm/Dialog buttons -->
    {{'&lt;'}}button class="-cancel-md">Cancel{{'&lt;'}}/button>
    {{'&lt;'}}button class="-dialog">Press Me{{'&lt;'}}/button>
    {{'&lt;'}}button class="-dialog-reverse">Press Me Too{{'&lt;'}}/button>
  </code>
</pre>

