<h1><a id="top"></a>Inline Dialog</h1>


<a id="inline-dialog-install"></a>
<h5 class="_mtxl">Installation</h5>
<pre class="code-block">
  <code class="language-javascript">
  // install the repo
  npm install CINBCUniversal/suprematism-popover --save
  
  // add it to a module (app.module.ts)
  import {{'&#123;'}} PopoverModule } from 'suprematism-popover';

  @NgModule({{'&#123;'}}
    ...
    imports: [
      ...
      PopoverModule
    ],
    ...
  })
  </code>
</pre>


<a id="inline-dialog-simple-example"></a>
<h5 class="_mtxl">Simple Example</h5>
<div>
  <button class="-action" [supreInlineDialog]="dialogInstance">Show Dialog</button>
  <supre-inline-dialog #dialogInstance title="Title of the Dialog">
    <p class="_mbm">Here is the text that could go inside the inline dialog?</p>
    <div class="flex justify-end">
      <button class="-cancel-md" (click)="dialogInstance.hide()">Cancel</button>
      <button class="-dialog">Submit</button>
    </div>
  </supre-inline-dialog>
</div>
<pre class="code-block">
  <code class="language-markup">
  {{'&lt;'}}!-- Bind the 'supre-inline-dialog' instance to anything, a button in this case -->
  {{'&lt;'}}button class="-action" [supreInlineDialog]="dialogInstance">Show Dialog{{'&lt;'}}/button>

  {{'&lt;'}}!-- Add a 'supre-inline-dialog' instance -->
  {{'&lt;'}}supre-inline-dialog #dialogInstance title="Title of the Dialog">
    {{'&lt;'}}p class="_mbm">Here is the text that could go inside the inline dialog?{{'&lt;'}}/p>
    {{'&lt;'}}div class="flex justify-end">
      {{'&lt;'}}!-- We can directly access the 'supre-inline-dialog' api -->
      {{'&lt;'}}button class="-cancel-md" (click)="dialogInstance.hide()">Cancel{{'&lt;'}}/button>
      {{'&lt;'}}button class="-dialog">Submit{{'&lt;'}}/button>
    {{'&lt;'}}/div>
  {{'&lt;'}}/supre-inline-dialog>
  </code>
</pre>


<a id="inline-dialog-with-tooltip"></a>
<h5 class="_mtxl">Combined with Tooltip</h5>
<div>
  <!-- Dialog Example -->
  <div class="flex justify-start">
    <div class="flex _b1 border-gray" style="max-width: 740px; width: 100%;">
      <div class="flex-auto bg-ice border-white _br1">&nbsp;</div>
      <button class="-toolbar" disabled="disabled"><span class="u-supre-icon u-supre-icon--add-create"></span> Condition</button>
      <button class="-toolbar" supreTooltip="Clear All Conditions" [supreInlineDialog]="clearAllConditions" [onHover]="false"><span class="u-supre-icon u-supre-icon--refresh-clear"></span> Clear All</button>
    </div>
  </div>
  <!-- We can place this anywhere -->
  <supre-inline-dialog #clearAllConditions title="Clear All Conditions" placement="auto bottom">
    <p class="_mbm">Are you sure you want to clear all attributes and conditions?</p>
    <div class="flex justify-end">
      <button class="-cancel-md" (click)="clearAllConditions.hide()">Cancel</button>
      <button class="-dialog bg-aqua"><span class="u-supre-icon u-supre-icon--refresh-clear"></span> Clear All</button>
    </div>
  </supre-inline-dialog>
</div>
<pre class="code-block">
  <code class="language-markup">
  {{'&lt;'}}!-- Condition Bar -->
  {{'&lt;'}}div class="flex justify-start">
    {{'&lt;'}}div class="flex _b1 border-gray">
      {{'&lt;'}}div class="flex-auto bg-ice border-white _br1">&nbsp;{{'&lt;'}}/div>
      {{'&lt;'}}button class="-toolbar" disabled="disabled">{{'&lt;'}}span class="u-supre-icon u-supre-icon--add-create">{{'&lt;'}}/span> Condition{{'&lt;'}}/button>
      {{'&lt;'}}button class="-toolbar" supreTooltip="Clear All Conditions" [supreInlineDialog]="clearAllConditions" [onHover]="false">{{'&lt;'}}span class="u-supre-icon u-supre-icon--refresh-clear">{{'&lt;'}}/span> Clear All{{'&lt;'}}/button>
    {{'&lt;'}}/div>
  {{'&lt;'}}/div>

  {{'&lt;'}}!-- Clear Dialog Box -->
  {{'&lt;'}}supre-inline-dialog #clearAllConditions title="Clear All Conditions" placement="auto bottom">
    {{'&lt;'}}p class="_mbm">Are you sure you want to clear all attributes and conditions?{{'&lt;'}}/p>
    {{'&lt;'}}div class="flex justify-end">
      {{'&lt;'}}button class="-cancel-md" (click)="clearAllConditions.hide()">Cancel{{'&lt;'}}/button>
      {{'&lt;'}}button class="-dialog bg-aqua">{{'&lt;'}}span class="u-supre-icon u-supre-icon--refresh-clear">{{'&lt;'}}/span> Clear All{{'&lt;'}}/button>
    {{'&lt;'}}/div>
  {{'&lt;'}}/supre-inline-dialog>
  </code>
</pre>


<a id="inline-dialog-placement"></a>
<h5 class="_mtxl">Placement</h5>
<div>
  Popovers can be positioned on the : 
  <button class="-action" [supreInlineDialog]="dialogInstanceTop">Top</button>
  <button class="-action" [supreInlineDialog]="dialogInstanceRight">Right</button>
  <button class="-action" [supreInlineDialog]="dialogInstanceBottom">Bottom</button>
  <button class="-action" [supreInlineDialog]="dialogInstanceLeft">Left</button>

  <supre-inline-dialog #dialogInstanceTop title="Title of the Dialog" placement="top">
    <p class="_mbm">Here is the text that could go inside the inline dialog?</p>
    <div class="flex justify-end">
      <button class="-cancel-md" (click)="dialogInstanceTop.hide()">Cancel</button>
      <button class="-dialog">Submit</button>
    </div>
  </supre-inline-dialog>

  <supre-inline-dialog #dialogInstanceRight title="Title of the Dialog" placement="right">
    <p class="_mbm">Here is the text that could go inside the inline dialog?</p>
    <div class="flex justify-end">
      <button class="-cancel-md" (click)="dialogInstanceRight.hide()">Cancel</button>
      <button class="-dialog">Submit</button>
    </div>
  </supre-inline-dialog>

  <supre-inline-dialog #dialogInstanceBottom title="Title of the Dialog" placement="bottom">
    <p class="_mbm">Here is the text that could go inside the inline dialog?</p>
    <div class="flex justify-end">
      <button class="-cancel-md" (click)="dialogInstanceBottom.hide()">Cancel</button>
      <button class="-dialog">Submit</button>
    </div>
  </supre-inline-dialog>

  <supre-inline-dialog #dialogInstanceLeft title="Title of the Dialog" placement="left">
    <p class="_mbm">Here is the text that could go inside the inline dialog?</p>
    <div class="flex justify-end">
      <button class="-cancel-md" (click)="dialogInstanceLeft.hide()">Cancel</button>
      <button class="-dialog">Submit</button>
    </div>
  </supre-inline-dialog>
</div>
<pre class="code-block">
  <code class="language-markup">
  {{'&lt;'}}!-- Buttons, one for each instance -->
  {{'&lt;'}}button class="-action" [supreInlineDialog]="dialogInstanceTop">Top{{'&lt;'}}/button>
  {{'&lt;'}}button class="-action" [supreInlineDialog]="dialogInstanceRight">Right{{'&lt;'}}/button>
  {{'&lt;'}}button class="-action" [supreInlineDialog]="dialogInstanceBottom">Bottom{{'&lt;'}}/button>
  {{'&lt;'}}button class="-action" [supreInlineDialog]="dialogInstanceLeft">Left{{'&lt;'}}/button>

  {{'&lt;'}}!-- placement="top" -->
  {{'&lt;'}}supre-inline-dialog #dialogInstanceTop title="Title of the Dialog" placement="top">
    {{'&lt;'}}p class="_mbm">Here is the text that could go inside the inline dialog?{{'&lt;'}}/p>
    {{'&lt;'}}div class="flex justify-end">
      {{'&lt;'}}button class="-cancel-md" (click)="dialogInstanceTop.hide()">Cancel{{'&lt;'}}/button>
      {{'&lt;'}}button class="-dialog">Submit{{'&lt;'}}/button>
    {{'&lt;'}}/div>
  {{'&lt;'}}/supre-inline-dialog>

  {{'&lt;'}}!-- placement="right" -->
  {{'&lt;'}}supre-inline-dialog #dialogInstanceRight title="Title of the Dialog" placement="right">
    {{'&lt;'}}p class="_mbm">Here is the text that could go inside the inline dialog?{{'&lt;'}}/p>
    {{'&lt;'}}div class="flex justify-end">
      {{'&lt;'}}button class="-cancel-md" (click)="dialogInstanceRight.hide()">Cancel{{'&lt;'}}/button>
      {{'&lt;'}}button class="-dialog">Submit{{'&lt;'}}/button>
    {{'&lt;'}}/div>
  {{'&lt;'}}/supre-inline-dialog>

  {{'&lt;'}}!-- placement="bottom" -->
  {{'&lt;'}}supre-inline-dialog #dialogInstanceBottom title="Title of the Dialog" placement="bottom">
    {{'&lt;'}}p class="_mbm">Here is the text that could go inside the inline dialog?{{'&lt;'}}/p>
    {{'&lt;'}}div class="flex justify-end">
      {{'&lt;'}}button class="-cancel-md" (click)="dialogInstanceBottom.hide()">Cancel{{'&lt;'}}/button>
      {{'&lt;'}}button class="-dialog">Submit{{'&lt;'}}/button>
    {{'&lt;'}}/div>
  {{'&lt;'}}/supre-inline-dialog>

  {{'&lt;'}}!-- placement="left" -->
  {{'&lt;'}}supre-inline-dialog #dialogInstanceLeft title="Title of the Dialog" placement="left">
    {{'&lt;'}}p class="_mbm">Here is the text that could go inside the inline dialog?{{'&lt;'}}/p>
    {{'&lt;'}}div class="flex justify-end">
      {{'&lt;'}}button class="-cancel-md" (click)="dialogInstanceLeft.hide()">Cancel{{'&lt;'}}/button>
      {{'&lt;'}}button class="-dialog">Submit{{'&lt;'}}/button>
    {{'&lt;'}}/div>
  {{'&lt;'}}/supre-inline-dialog>
  </code>
</pre>
