<ul class="_ptxs">
  <li>
    <h5 class="_mt0 _pts _pbxs">
      <a [routerLink]="['']">Main Page</a>
    </h5>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Styles / Esthetics</h5>
    <ul class="_mt0 _pbxs">
      <li><a [routerLink]="['section/colors']">Colors List</a></li>
      <li><a [routerLink]="['section/colors-guide']">Colors Guide</a></li>
      <li><a [routerLink]="['section/visual-guide']">Visual Rules &amp; Considerations</a></li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Typography</h5>
    <ul class="_mt0 _pbxs">
      <li><a [routerLink]="['section/typography-headers']">Headers</a></li>
      <li><a [routerLink]="['section/typography-links']">Links</a></li>
      <li><a [routerLink]="['section/typography-paragraphs']">Paragraphs / Body Copy</a></li>
      <li><a [routerLink]="['section/typography-icons']">Icons</a></li>
      <li><a [routerLink]="['section/typography-lists']">Lists</a></li>
      <li><a [routerLink]="['section/typography-alignment']">Alignment</a></li>
      <li><a [routerLink]="['section/typography-tabular-data']">Tabular Data (Tables)</a></li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Inputs</h5>
    <ul class="_mt0 _pbxs">
      <li><a [routerLink]="['section/forms-inputs']">Text, Numbers, etc</a></li>
      <li><a [routerLink]="['section/forms-selects']">Select</a></li>
      <li><a href="#">Textarea</a></li>
      <li><a href="#">Radio Groups</a></li>
      <li><a href="#">Checkboxes</a></li>
      <li><a href="#">Forms</a></li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Page Layouts</h5>
    <ul class="_mt0 _pbxs">
      <li><a href="#">Grid System</a></li>
      <li><a href="#">Layouts</a></li>
      <li><a href="#">Breakpoints</a></li>
      <li><a href="#">Scrolling / Scrollbars</a></li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Components</h5>
    <ul class="_mt0 _pbxs">
      <li><a href="#">Data Grid</a></li>
      <li><a href="#">Popover / Tooltip</a></li>
      <li><a href="#">Modal</a></li>
      <li><a href="#">Navigation</a></li>
      <li><a href="#">Navigation Tiles</a></li>
      <li><a href="#">Dialogs / User Feedback</a></li>
      <li><a href="#">Dropdown Menus</a></li>
      <li><a href="#">Buttons</a></li>
      <li><a href="#">Breadcrumbs</a></li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Utilities</h5>
    <ul class="_mt0 _pbxs">
      <li><a href="#">Borders</a></li>
      <li><a href="#">Spacing (Padding &amp; Margins)</a></li>
      <li><a href="#">Breakpoint Mixins</a></li>
      <li><a href="#">Alignment</a></li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Standards</h5>
    <ul class="_mt0 _pbxs">
      <li><a href="#">Using SuitCSS</a></li>
      <li><a href="#">SASS guidelines</a></li>
      <li><a href="#">Including Third Party Libraries</a></li>
      <li><a href="#">JavaScript Linting</a></li>
      <li><a href="#">HTML compliance</a></li>
      <li><a href="#">General Page setup</a></li>
      <li><a href="#">Building a new component (extending)</a></li>
      <li><a href="#">Browser Support</a></li>
      <li><a href="#">Concsie CSS</a></li>
      <li><a href="#">Angular 2.0</a></li>
      <li><a href="#">D3.js</a></li>
    </ul>
  </li>
</ul>
