<ul class="_ptxs">
  <li>
    <h5 class="_mt0 _pts _pbxs">
      <a [routerLink]="['']">Main Page</a>
    </h5>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Styles / Esthetics</h5>
    <ul class="_mt0 _pbxs _plxs">
      <li><a [routerLink]="['section/colors']">Colors List</a></li>
      <li>Colors Guide</li>
      <li>Visual Rules &amp; Considerations</li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Typography</h5>
    <ul class="_mt0 _pbxs _plxs">
      <li>Headers</li>
      <li>Links</li>
      <li>Paragraphs / Body Copy</li>
      <li>Icons</li>
      <li>Lists</li>
      <li>Alignment</li>
      <li>Tabular Data (Tables)</li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Inputs</h5>
    <ul class="_mt0 _pbxs _plxs">
      <li>Text, Numbers, etc</li>
      <li>Select</li>
      <li>Textarea</li>
      <li>Radio Groups</li>
      <li>Checkboxes</li>
      <li>Forms</li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Page Layouts</h5>
    <ul class="_mt0 _pbxs _plxs">
      <li>Grid System</li>
      <li>Layouts</li>
      <li>Breakpoints</li>
      <li>Scrolling / Scrollbars</li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Components</h5>
    <ul class="_mt0 _pbxs _plxs">
      <li>Data Grid</li>
      <li>Popover / Tooltip</li>
      <li>Modal</li>
      <li>Navigation</li>
      <li>Navigation Tiles</li>
      <li>Dialogs / User Feedback</li>
      <li>Dropdown Menus</li>
      <li><a [routerLink]="['section/buttons']">Buttons</a></li>
      <li>Breadcrumbs</li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Utilities</h5>
    <ul class="_mt0 _pbxs _plxs">
      <li>Borders</li>
      <li>Spacing (Padding &amp; Margins)</li>
      <li>Breakpoint Mixins</li>
      <li>Alignment</li>
    </ul>
  </li>
  <li>
    <h5 class="_mt0 _mb0">Standards</h5>
    <ul class="_mt0 _pbxs _plxs">
      <li>Using SuitCSS</li>
      <li>SASS guidelines</li>
      <li>Including Third Party Libraries</li>
      <li>JavaScript Linting</li>
      <li>HTML compliance</li>
      <li>General Page setup</li>
      <li>Building a new component (extending)</li>
      <li>Browser Support</li>
      <li>Concsie CSS</li>
      <li>Angular 2.0</li>
      <li>D3.js</li>
    </ul>
  </li>
</ul>
