<h1><a id="top"></a>Typography</h1>


<a id="type-classes"></a>
<h5 class="_mtxl">Classes</h5>
<pre class="code-block">
  <code class="language-markup">
  {{'&lt;'}}-- font size classes -->
  {{'&lt;'}}div class="u-type-xs">9px{{'&lt;'}}/div>
  {{'&lt;'}}div class="u-type-s">10px{{'&lt;'}}/div>
  {{'&lt;'}}div class="u-type-m">12px{{'&lt;'}}/div>
  {{'&lt;'}}div class="u-type-l">16px{{'&lt;'}}/div>
  {{'&lt;'}}div class="u-type-xl">24px{{'&lt;'}}/div>

  {{'&lt;'}}-- text transformations -->
  {{'&lt;'}}div class="u-uppercase">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="u-captialize">...{{'&lt;'}}/div>

  {{'&lt;'}}-- text align -->
  {{'&lt;'}}div class="u-type-left">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="u-type-center">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="u-type-right">...{{'&lt;'}}/div>

  {{'&lt;'}}-- emphasis -->
  {{'&lt;'}}div class="u-bold">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="u-em">...{{'&lt;'}}/div>

  {{'&lt;'}}-- Wrap in Parenthesis -->
  {{'&lt;'}}div class="u-parens">...{{'&lt;'}}/div>

  {{'&lt;'}}-- Colors, see colors section for more info -->
  {{'&lt;'}}div class="color-ice">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-off-white">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-gray">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-lemon">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-blue-gray">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-aqua">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-purple">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-mid-gray">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-blue">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-green">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-lite-green">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-white">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-black">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-lite-gray">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-active-stroke">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-disabled-stroke">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-soft-green">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-shark-skin">...{{'&lt;'}}/div>

  {{'&lt;'}}div class="color-sequence-1">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-sequence-2">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-sequence-3">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-sequence-4">...{{'&lt;'}}/div>

  {{'&lt;'}}div class="color-viz-aqua">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-viz-purple">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-viz-lime">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-viz-ocean">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-viz-orange">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-viz-blue">...{{'&lt;'}}/div>
  {{'&lt;'}}div class="color-viz-yellow">...{{'&lt;'}}/div>

  </code>
</pre>


<a id="type-variables"></a>
<h5 class="_mtxl">Size Variables</h5>
<pre class="code-block">
  <code class="language-sass">
  @import "../node_modules/suprematism-style-guide/dist/vars/_vars.suprematisim.scss";
  </code>
</pre>
<pre class="code-block">
  <code class="language-sass">
  $text-size-xs: 9;
  $text-size-s: 10;
  $text-size-m: 12;
  $text-size-l: 16;
  $text-size-xl: 24;
  </code>
</pre>


<a id="type-placeholders"></a>
<h5 class="_mtxl">Place Holders</h5>
<pre class="code-block">
  <code class="language-sass">
  // sizes
  @import "../node_modules/suprematism-style-guide/dist/utils/_text.scss.scss";
  
  // colors
  @import "../node_modules/suprematism-style-guide/dist/utils/_colors.scss";
  </code>
</pre>
<pre class="code-block">
  <code class="language-sass">
  // sizes
  @extend %u-type-xs;   // 9px
  @extend %u-type-s;    // 10px
  @extend %u-type-m;    // 12px
  @extend %u-type-l;    // 16px
  @extend %u-type-xl;   // 24px 

  // colors
  @extend %color-ice;
  @extend %color-off-white;
  @extend %color-gray;
  @extend %color-lemon;
  @extend %color-blue-gray;
  @extend %color-aqua;
  @extend %color-purple;
  @extend %color-mid-gray;
  @extend %color-blue;
  @extend %color-green;
  @extend %color-lite-green;
  @extend %color-white;
  @extend %color-black;
  @extend %color-lite-gray;
  @extend %color-active-stroke;
  @extend %color-disabled-stroke;
  @extend %color-soft-green;
  @extend %color-shark-skin;

  @extend %color-sequence-1;
  @extend %color-sequence-2;
  @extend %color-sequence-3;
  @extend %color-sequence-4;

  @extend %color-viz-aqua;
  @extend %color-viz-purple;
  @extend %color-viz-lime;
  @extend %color-viz-ocean;
  @extend %color-viz-orange;
  @extend %color-viz-blue;
  @extend %color-viz-yellow;
  </code>
</pre>


<a id="type-samples"></a>
<h5 class="_mtxl">Style Samples</h5>
<div>
    
  <div class="_ptl _pbl">
    <h1 class="color-mid-gray u-type-xl _m0 _p">Page Title</h1>
  </div>
  
  <div class="_pbl">
    <h5 class="color-purple u-bold u-type-l _m0 _p">123,456,789</h5>
    <h6 class="color-mid-gray u-uppercase u-bold u-type-xs _m0 _p0">total available audience</h6>

    <h5 class="color-purple u-bold u-type-l _m0 _p0 _mts">123,456,789 | 100%</h5>
    <h6 class="color-mid-gray u-uppercase u-bold u-type-xs _m0 _p0">estimated total available audience</h6>
  </div>

  <div class="_pbl">
    <span class="u-uppercase color-purple u-type-s u-bold">Definition</span>
    <span class="u-parens u-type-s color-mid-gray">Males 25&ndash;49 OR Females 25&ndash;49</span>
  </div>

</div>
<pre class="code-block">
  <code class="language-markup">
  {{'&lt;'}}!-- Page Title Styles -->
  {{'&lt;'}}h1 class="color-mid-gray u-type-xl _m0 _p0">Page Title{{'&lt;'}}/h1>
  
  {{'&lt;'}}!-- Numbers / Audience -->
  {{'&lt;'}}h5 class="color-purple u-bold u-type-l _m0 _p0">123,456,789{{'&lt;'}}/h5>
  {{'&lt;'}}h6 class="color-mid-gray u-uppercase u-bold u-type-xs _m0 _p0">total available audience{{'&lt;'}}/h6>

  {{'&lt;'}}h5 class="color-purple u-bold u-type-l _m0 _p0 _mts">123,456,789 | 100%{{'&lt;'}}/h5>
  {{'&lt;'}}h6 class="color-mid-gray u-uppercase u-bold u-type-xs _m0 _p0">estimated total available audience{{'&lt;'}}/h6>

  {{'&lt;'}}!-- Defintion -->
  {{'&lt;'}}span class="u-uppercase color-purple u-type-s u-bold">Definition{{'&lt;'}}/span>
  {{'&lt;'}}span class="u-parens u-type-s color-mid-gray">Males 25&ndash;49 OR Females 25&ndash;49{{'&lt;'}}/span>
  </code>
</pre>


