//
// Default Icon Class
//
$icon-class: u-supre-icon !default;


//
// Radius
//
$corner-radius: 4px !default;
$button-radius: $corner-radius !default;


//
// Text Sizes
//
$text-size-xl: 24;
$text-size-l: 16;
$text-size-m: 12;
$text-size-s: 10;
$text-size-xs: 9;