// the component
:host{
  display: inherit;
  font-size: 0.8rem;
}

// menu list items
ul {

  li {
    list-style-type: none;
    color: darkgray;
    a {
      color: black;
      &:hover {
        color: red;
      }
    }
  }
}