@import '../vars/_vars.suprematisim.scss';
@import '../vars/_vars.concise.scss';
@import '../utils/_colors.scss';
@import '../utils/_z-indexes.scss';


$dropdown-item-horiz-padding: $spacing-s;


%label-icon {
  position: absolute;
  font-size: $text-size-m + px;
  right: $spacing-s;
  padding: 0px 1px;
  font-weight: normal;
}


//
// Button/Container for the dropdown
//
.dropdown-button {
  width: auto;
  position: relative;


  //
  // pseudo classes for the master button/container
  //
  &:hover, &:focus, &:active {

    .dropdown-label {
      background: $soft-green;
      border: 1px solid $blue-gray;
      z-index: $z-index-level-1;
      &::after {
        font-family: 'Audri-alpha' !important;
        content: "\e902";
      }
      &:after {
        @extend %label-icon;
        color: $aqua;
      }
    }

    .dropdown-content {
      z-index: $z-index-level-1 - 1;
    }

  }

  //
  // 'Hide' the border when open
  //
  &:focus, &:active {
    .dropdown-label {
      border-bottom-color: $soft-green;
    }
  }

  //
  // Rotate icon on focus
  //
  &:focus {
    &:after {
      transform: rotate(90deg);
    }
  }


  //
  // Label
  //
  .dropdown-label {
    border: 1px solid $gray;
    width: auto;
    line-height: 32px;
    font-size: $text-size-s + px;
    font-weight: bold;
    padding: 0px 50px 0px $dropdown-item-horiz-padding;
    position: relative;
    color: $blue-gray;

    &::after {
      font-family: 'Audri-alpha' !important;
      content: "\e901";
    }
    &:after {
      @extend %label-icon;
    }

    &[selected=true] {
      color: $aqua;
      .#{$icon-class} {
        margin-right: $spacing-xs;
        font-size: 14px;
        position: relative;
        top: 2px;
        font-weight: normal;
      }
    }

  }


  //
  // Items container
  //
  .dropdown-content {
    clear: both;
    // width: inherit;
    min-width: 100%;
    background: $white;
    border-bottom-left-radius: $button-radius;
    border-bottom-right-radius: $button-radius;
    // border-color: $gray;
    padding: 0 0 0 0;
    margin: -1px 0 0 0;
    font-size: $text-size-s + px;
    box-shadow: 4px 4px 7px -4px black;
    border: 1px solid $blue-gray;
    // border-top: 0;


    //
    // Dropdown Items
    //
    .item {
      width: 100%;
      line-height: 32px;
      border-bottom: 1px solid $gray;
      padding: 0 $dropdown-item-horiz-padding;
      font-weight: bold;
      color: $blue-gray;
      position: relative;

      &:hover {
        background: $soft-green;
        color: $aqua;
      }

      &:last-child {
        border-bottom: 0;
        border-bottom-left-radius: $button-radius;
        border-bottom-right-radius: $button-radius;
      }

      &[selected=true] {
        color: $aqua;
      }

      .#{$icon-class} {
        margin-right: $spacing-s;
        font-size: 14px;
        position: relative;
        top: 2px;
        font-weight: normal;
      }

      //
      // Special Checkbox rules
      //
      .checkbox {
        display: block;
        .icon {
          top: 2px;
          left: 0px;
          margin-right: 7px;
          font-size: 1.4em;
        }
      }

    }

  }

}
