<h1><a id="top"></a>Checkboxes</h1>

<a id="checkbox-inline-active"></a>
<h5 class="_mtxl">Inline Active Checkboxes</h5>
<div class="flex">
  <label class="checkbox" for="test1">
    <input id="test1" type="checkbox" />
    <span class="icon _mrxs"></span>
    Selection 1
  </label>
  <label class="checkbox _mll" for="test2">
    <input id="test2" type="checkbox" />
    <span class="icon _mrxs"></span>
    Selection 2
  </label>
  <label class="checkbox _mll" for="test3">
    <input id="test3" type="checkbox" />
    <span class="icon _mrxs"></span>
    Selection 3
  </label>
</div>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}div class="flex">
      {{'&lt;'}}label class="checkbox" for="test1">
        {{'&lt;'}}input id="test1" type="checkbox" />
        {{'&lt;'}}span class="icon _mrxs">{{'&lt;'}}/span>
        Selection 1
      {{'&lt;'}}/label>
      {{'&lt;'}}label class="checkbox _mll" for="test2">
        {{'&lt;'}}input id="test2" type="checkbox" />
        {{'&lt;'}}span class="icon _mrxs">{{'&lt;'}}/span>
        Selection 2
      {{'&lt;'}}/label>
      {{'&lt;'}}label class="checkbox _mll" for="test3">
        {{'&lt;'}}input id="test3" type="checkbox" />
        {{'&lt;'}}span class="icon _mrxs">{{'&lt;'}}/span>
        Selection 3
      {{'&lt;'}}/label>
    {{'&lt;'}}/div>
  </code>
</pre>


<a id="checkbox-stacked-active"></a>
<h5 class="_mtxl">Stacked Active Checkboxes</h5>
<div class="flex flex-column">
  <label class="checkbox" for="test4">
    <input id="test4" type="checkbox" />
    <span class="icon _mrxs"></span>
    Selection 1
  </label>
  <label class="checkbox _mtxs" for="test5">
    <input id="test5" type="checkbox" />
    <span class="icon _mrxs"></span>
    Selection 2
  </label>
  <label class="checkbox _mtxs" for="test6">
    <input id="test6" type="checkbox" />
    <span class="icon _mrxs"></span>
    Selection 3
  </label>
</div>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}div class="flex flex-column">
      {{'&lt;'}}label class="checkbox" for="test4">
        {{'&lt;'}}input id="test4" type="checkbox" />
        {{'&lt;'}}span class="icon _mrxs">{{'&lt;'}}/span>
        Selection 1
      {{'&lt;'}}/label>
      {{'&lt;'}}label class="checkbox _mtxs" for="test5">
        {{'&lt;'}}input id="test5" type="checkbox" />
        {{'&lt;'}}span class="icon _mrxs">{{'&lt;'}}/span>
        Selection 2
      {{'&lt;'}}/label>
      {{'&lt;'}}label class="checkbox _mtxs" for="test6">
        {{'&lt;'}}input id="test6" type="checkbox" />
        {{'&lt;'}}span class="icon _mrxs">{{'&lt;'}}/span>
        Selection 3
      {{'&lt;'}}/label>
    {{'&lt;'}}/div>
  </code>
</pre>


<a id="checkbox-stacked-active-columns"></a>
<h5 class="_mtxl">Stacked, Multi-column Active Checkboxes</h5>
<div class="flex">
  <div class="flex flex-column">
    <label class="checkbox" for="test7">
      <input id="test7" type="checkbox" />
      <span class="icon _mrxs"></span>
      Column 1, Selection 1
    </label>
    <label class="checkbox _mtxs" for="test8">
      <input id="test8" type="checkbox" />
      <span class="icon _mrxs"></span>
      Column 1, Selection 2
    </label>
    <label class="checkbox _mtxs" for="test9">
      <input id="test9" type="checkbox" />
      <span class="icon _mrxs"></span>
      Column 1, Selection 3
    </label>
  </div>
  <div class="flex flex-column _mll">
    <label class="checkbox" for="test10">
      <input id="test10" type="checkbox" />
      <span class="icon _mrxs"></span>
      Column 2, Selection 1
    </label>
    <label class="checkbox _mtxs" for="test11">
      <input id="test11" type="checkbox" />
      <span class="icon _mrxs"></span>
      Column 2, Selection 2
    </label>
    <label class="checkbox _mtxs" for="test12">
      <input id="test12" type="checkbox" />
      <span class="icon _mrxs"></span>
      Column 2, Selection 3
    </label>
  </div>
  <div class="flex flex-column _mll">
    <label class="checkbox" for="test13">
      <input id="test13" type="checkbox" />
      <span class="icon _mrxs"></span>
      Column 3, Selection 1
    </label>
    <label class="checkbox _mtxs" for="test14">
      <input id="test14" type="checkbox" />
      <span class="icon _mrxs"></span>
      Column 3, Selection 2
    </label>
    <label class="checkbox _mtxs" for="test15">
      <input id="test15" type="checkbox" />
      <span class="icon _mrxs"></span>
      Column 3, Selection 3
    </label>
  </div>
</div>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}div class="flex">
      {{'&lt;'}}div class="flex flex-column">
        {{'&lt;'}}label class="checkbox" for="test7">
          {{'&lt;'}}input id="test7" type="checkbox" />
          {{'&lt;'}}span class="icon _mrxs">{{'&lt;'}}/span>
          Column 1, Selection 1
        {{'&lt;'}}/label>
        {{'&lt;'}}label class="checkbox _mtxs" for="test8">
          {{'&lt;'}}input id="test8" type="checkbox" />
          {{'&lt;'}}span class="icon _mrxs">{{'&lt;'}}/span>
          Column 1, Selection 2
        {{'&lt;'}}/label>
        {{'&lt;'}}label class="checkbox _mtxs" for="test9">
          {{'&lt;'}}input id="test9" type="checkbox" />
          {{'&lt;'}}span class="icon _mrxs">{{'&lt;'}}/span>
          Column 1, Selection 3
        {{'&lt;'}}/label>
      {{'&lt;'}}/div>
      {{'&lt;'}}div class="flex flex-column _mll">
        {{'&lt;'}}!-- Second column of checkboxes -->
      {{'&lt;'}}/div>
      {{'&lt;'}}div class="flex flex-column _mll">
        {{'&lt;'}}!-- Third column of checkboxes -->
      {{'&lt;'}}/div>
    {{'&lt;'}}/div>
  </code>
</pre>


<a id="checkbox-disabled"></a>
<h5 class="_mtxl">Disabling Checkboxes</h5>
<div>
  <label class="checkbox" for="test16">
    <input id="test16" disabled="true" type="checkbox" />
    <span class="icon _mrs"></span>
    Selection 1
  </label>
</div>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}label class="checkbox" for="test16">
      {{'&lt;'}}input id="test16" disabled="true" type="checkbox" />
      {{'&lt;'}}span class="icon _mrs">{{'&lt;'}}/span>
      Selection 1
    {{'&lt;'}}/label>
  </code>
</pre>


<a id="checkbox-select-all-active"></a>
<h5 class="_mtxl">Select All Checkbox, Active (pattern)</h5>
<div class="flex">
  <label class="checkbox" for="test17">
    <input id="test17" partial="false" type="checkbox" />
    <span class="icon _mrs"></span>
    All
  </label>
  <label class="checkbox _mll" for="test18">
    <input id="test18" partial="true" type="checkbox" />
    <span class="icon _mrs"></span>
    All
  </label>
  <label class="checkbox _mll" for="test19">
    <input id="test19" partial="true" checked="checked" type="checkbox" />
    <span class="icon _mrs"></span>
    All
  </label>
</div>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}!-- Unselected 'All' checkbox -->
    {{'&lt;'}}label class="checkbox" for="test17">
      {{'&lt;'}}input id="test17" partial="false" type="checkbox" />
      {{'&lt;'}}span class="icon _mrs">{{'&lt;'}}/span>
      All
    {{'&lt;'}}/label>

    {{'&lt;'}}!-- Mark as partial when some, not all, of the child checkboxes are checked -->
    {{'&lt;'}}label class="checkbox _mll" for="test18">
      {{'&lt;'}}input id="test18" partial="true" type="checkbox" />
      {{'&lt;'}}span class="icon _mrs">{{'&lt;'}}/span>
      All
    {{'&lt;'}}/label>

    {{'&lt;'}}!-- Selected 'All' checkbox' -->
    {{'&lt;'}}label class="checkbox _mll" for="test19">
      {{'&lt;'}}input id="test19" partial="true" checked="checked" type="checkbox" />
      {{'&lt;'}}span class="icon _mrs">{{'&lt;'}}/span>
      All
    {{'&lt;'}}/label>
  </code>
</pre>


<a id="checkbox-select-all-disabled"></a>
<h5 class="_mtxl">Select All Checkboxes, Disabled (pattern)</h5>
<div class="flex">
  <label class="checkbox" for="test20">
    <input id="test20" disabled="disabled" partial="false" type="checkbox" />
    <span class="icon _mrs"></span>
    All
  </label>
  <label class="checkbox _mll" for="test21">
    <input id="test21" disabled="disabled" partial="true" type="checkbox" />
    <span class="icon _mrs"></span>
    All
  </label>
  <label class="checkbox _mll" for="test21">
    <input id="test21" disabled="disabled" partial="true" checked="checked" type="checkbox" />
    <span class="icon _mrs"></span>
    All
  </label>
</div>
<pre class="code-block">
  <code class="language-markup">
    {{'&lt;'}}label class="checkbox" for="test20">
      {{'&lt;'}}input id="test20" disabled="disabled" partial="false" type="checkbox" />
      {{'&lt;'}}span class="icon _mrs">{{'&lt;'}}/span>
      All
    {{'&lt;'}}/label>
    {{'&lt;'}}label class="checkbox _mll" for="test21">
      {{'&lt;'}}input id="test21" disabled="disabled" partial="true" type="checkbox" />
      {{'&lt;'}}span class="icon _mrs">{{'&lt;'}}/span>
      All
    {{'&lt;'}}/label>
    {{'&lt;'}}label class="checkbox _mll" for="test21">
      {{'&lt;'}}input id="test21" disabled="disabled" partial="true" checked="checked" type="checkbox" />
      {{'&lt;'}}span class="icon _mrs">{{'&lt;'}}/span>
      All
    {{'&lt;'}}/label>
  </code>
</pre>

