<h1>Colors List</h1>

<div id="colors">

  <div class="color-block-ice">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>
  
  <div class="color-block-off-white">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-gray">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-lemon">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-blue-gray">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-aqua">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-purple">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-mid-gray">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-lite-gray">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-blue">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-green">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-lite-green">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-soft-green">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-white">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span>
    </p>
  </div>

  <div class="color-block-black">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span> 
    </p>
  </div>

  <div class="color-block-active-stroke">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span> 
    </p>
  </div>

  <div class="color-block-disabled-stroke">
    <p class="text">
      <span class="title"></span>
      <span class="hex"></span> 
    </p>
  </div>

</div>

<div>
  
</div>