// set the number of columns
$num-columns: 26;

// typeface / font
$font-primary: Verdana;
$font-secondary: Verdana;
$font-size: 16;
$font-size-secondary: 18;

// spacing vars
$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 15px;
$spacing-l: 30px;
$spacing-xl: 50px;